* {
  background-color: #ffffff;
  font-family: "Fira Sans", sans-serif;
}
a {
  color: #845fe2;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin: 10px;
}
