.Meaning h4 {
  background: var(--primary-color);
  font-family: var(--title-font-family);
  font-size: 32px;
  line-height: 1.5;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--fifth-color);
}
.Meaning .example {
  background: var(--primary-color);
  font-size: 16px;
  font-style: italic;
  margin-top: 10px;
}
